<p id="notice"><%= notice %></p>

<h1>Murals</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @murals.each do |mural| %>
      <tr>
        <td><%= mural.username %></td>
        <td><%= mural.description %></td>
        <td><%= link_to 'Show', mural %></td>
        <td><%= link_to 'Edit', edit_mural_path(mural) %></td>
        <td><%= link_to 'Destroy', mural, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mural', new_mural_path %>
